body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-wrap: nowrap;
    color: #FEF9E1;
    justify-content: space-between;
    text-align: center;
    background-color: #2D336B;
}

header h1 span{
    color: #A9B5DF;
}
.item{
    margin: 10px; 
}
ul{
     list-style: none;
}
.list_style{
    display: flex;
}
.list_style li{
    margin: 0 15px;
}

.link_color{
    color :#FEF9E1;
    text-decoration: none;
    border-bottom:1px whitesmoke solid;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#About{
    position: relative;
    background-image: url(../meidea/background.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    font-style: italic;
    color: #FEF9E1;  
    text-align: left;
    padding: 250px 10px;
    
}
#About::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
#About div{
    font-weight: lighter;
    font-size: 1rem;
    position: relative;
    margin: 40px;
    z-index: 2;
}
#About h1 span{
    font-weight: bold;
    font-size: 3rem;
    color: #A9B5DF;
}

.section{
    margin: 30px;
    padding: 10px;
    color: #A19AD3;
}

.grid-cont {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px; 
    width: 100%;
    padding: 20px;
    text-align: justify;
    
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left ;
    padding: 20px;
    border: 1px #2D336B solid;
    border-style:inherit;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    margin: 5px;
    background-color: white;
}

.grid-item a{
    color: #2D336B;
}

footer{
    text-align: center;
    background-color: #2D336B;
    color: #FFF2F2;
    padding: 20px;
}

.Contact{
    display: flex;
    justify-content: space-around;
    color: #FEF9E1;
    font-size: 2em;
}

